.navbar {
  width: 100vw;
  height: 10vh;
  align-items: center;
  background-color: rgba(7, 30, 70, 0.1); /* Adjust opacity for transparency */
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(20px); /* Apply the blur effect */
}

.logo {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}

.logo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.navbar-items {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}

.navbar-item {
  color: beige;
  cursor: pointer;
}
